
tictactoe/.idea/.name

tictactoe/.idea/encodings.xml

tictactoe/.idea/modules.xml

tictactoe/.idea/misc.xml

tictactoe/.idea/scopes/scope_settings.xml

tictactoe/.idea/tictactoe.iml

tictactoe/.idea/vcs.xml

tictactoe/.idea/watcherTasks.xml

tictactoe/.idea/workspace.xml
